/* * {position: relative; outline: none;
} */

html,
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    outline: none
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 50px auto auto 50px;
    grid-template-areas: "header header header header" ". content content ." "footer footer footer footer";
}

#header {
    align-content: flex-end;
    grid-area: header;
    /* background: #ffee58; */
    border-bottom: 1px solid #dee2e6;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
}

#header li {
    width: auto;
    float: right;
    margin-left: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.content {
    grid-area: content;
    padding: 20px;
}
.heroMenu{
    grid-area: content;
    width: 100%;
    background-image: linear-gradient( 0deg, #00000088 30%, #ffffff44 100%), url(images/youtube-banner-2.PNG);
    /* background: linear-gradient(0 deg, #00000088 30%, #ffffff44 100%) */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom:20px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.heroMenu h1 {
    position: absolute;
    right: 50px;
    bottom: 130px;
}
.heroMenu h2 {
    position: absolute;
    right: 50px;
    bottom: 100px;
}
.heroMenu .loginBtn {
    position: absolute;
    right: 50px;
    bottom: 70px;
}
/* .heroMenu:before {
    grid-area: content;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('https://assets.digitalocean.com/labs/images/community_bg.png',0.5);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
} */

.loginBtn {
    background: url(images/btn_google_signin_dark_normal_web.png) no-repeat;
    cursor: pointer;
    border: solid 0px;
    width: 189px;
    height: 44px;
    padding: 0px;
    z-index: 99;
}

footer {
    grid-area: footer;
    background: #ffee58;
    padding: 3px;
}

footer p {
    margin: auto;
    width: 230px;
}
footer a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#list {
    grid-area: content;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

#list li {
    display: block;
    margin: auto auto;
    max-height: 390px;
    min-height: 390px;
}

#list li p {
    font-weight: 600;
}

#list a {
    text-decoration: none;
    color: black;
}

.youtuberName {
    min-height: 60px;
    max-height: 60px;

    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}


/* test */
 .active {
    color:#e03131 !important;
}
.left {
    float: left !important;
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
    color: black;
    text-decoration: none;
}

.custom-underline::after {
    content: "";
    position: absolute;
}

li .custom-underline::after {
    top: 90%;
    height: 2px;
    width: 0%;
    left: 5%;
    background-color: #ffee58;
    transition: 0.5s ease all .3s;
}

li:hover .custom-underline::after {
    width: 90%;
    transition: 0.3s ease all;
}
@media only screen and (max-width: 600px) {
    .heroMenu {
        display: flex;
  align-items: flex-end;
  justify-content: flex-end;
    }
    .heroMenu h1 {
        display: none;
    }
    .heroMenu h2{
        position: static;
        text-align: right;
        margin-bottom: 62px;
    }
  }